<p class="title">Find Movies, TV shows and more</p>
<app-movie-search></app-movie-search>

<!-- Movie List -->

 <div class="container">
  <div class="popular">
    <p class="title2">Trending</p>

    <div class="grid-container" *ngIf="movies">
      <div *ngFor="let movie of movies">
        <div class="movie" routerLink="/detail/{{ movie.id }}">
          <div class="movie-img">
            <img src="{{ movie.img }}" alt="{{ movie.name }}" />
          </div>
          <div class="movie-info">
            <div class="movie-name-rating">
              <p class="movie-name">{{ movie.name }}</p>
              <p class="movie-rating">5 S <i class="fa-solid fa-star"></i></p>
            </div>
            <div class="movie-description">
              <p class="movie-time">
                2018 -
                <span class="dot"></span>
                2h15min
              </p>
              <p class="movie-type">Movie</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="popular">
    <p class="title2">Latest Movies</p>

    <div class="grid-container" *ngIf="movies">
      <div *ngFor="let movie of movies">
        <div class="movie" routerLink="/detail/{{ movie.id }}">
          <div class="movie-img">
            <img src="{{ movie.img }}" alt="{{ movie.name }}" />
          </div>
          <div class="movie-info">
            <div class="movie-name-rating">
              <p class="movie-name">{{ movie.name }}</p>
              <p class="movie-rating">5 S <i class="fa-solid fa-star"></i></p>
            </div>
            <div class="movie-description">
              <p class="movie-time">
                2018 -
                <span class="dot"></span>
                2h15min
              </p>
              <p class="movie-type">Movie</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="popular">
    <p class="title2">Latest TV Shows</p>

    <div class="grid-container" *ngIf="movies">
      <div *ngFor="let movie of movies">
        <div class="movie" routerLink="/detail/{{ movie.id }}">
          <div class="movie-img">
            <img src="{{ movie.img }}" alt="{{ movie.name }}" />
          </div>
          <div class="movie-info">
            <div class="movie-name-rating">
              <p class="movie-name">{{ movie.name }}</p>
              <p class="movie-rating">5 S <i class="fa-solid fa-star"></i></p>
            </div>
            <div class="movie-description">
              <p class="movie-time">
                2018 -
                <span class="dot"></span>
                2h15min
              </p>
              <p class="movie-type">Movie</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="popular">
    <p class="title2">Coming Soon</p>

    <div class="grid-container" *ngIf="movies">
      <div *ngFor="let movie of movies">
        <div class="movie" routerLink="/detail/{{ movie.id }}">
          <div class="movie-img">
            <img src="{{ movie.img }}" alt="{{ movie.name }}" />
          </div>
          <div class="movie-info">
            <div class="movie-name-rating">
              <p class="movie-name">{{ movie.name }}</p>
              <p class="movie-rating">5 S <i class="fa-solid fa-star"></i></p>
            </div>
            <div class="movie-description">
              <p class="movie-time">
                2018 -
                <span class="dot"></span>
                2h15min
              </p>
              <p class="movie-type">Movie</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


